@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic&subset=latin,cyrillic);

@font-face {
	font-family:'Neris';
	src: url('../fonts/Neris-Thin/Neris-Thin_gdi.eot');
	src: url('../fonts/Neris-Thin/Neris-Thin_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Neris-Thin/Neris-Thin_gdi.woff') format('woff'),
	url('../fonts/Neris-Thin/Neris-Thin_gdi.ttf') format('truetype'),
	url('../fonts/Neris-Thin/Neris-Thin_gdi.otf') format('opentype'),
	url('../fonts/Neris-Thin/Neris-Thin_gdi.svg#Neris-Thin') format('svg');
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2122;
}