.header {
	z-index: 500;
	height: 95px;
	position: relative;
	background: #191919;

	.topnav {
		float: left;
		z-index: 999;
		width: 920px;
		position: relative;

		li {
			float: left;

			a {
				color: #fff;
				height: 95px;
				font-size: 14px;
				font-weight: 300;
				line-height: 30px;
				padding: 30px 10px;
				text-align: center;
				white-space: nowrap;
				display: inline-block;
				text-decoration: none;
				background: transparent;
				text-transform: uppercase;
				border-bottom: 5px solid transparent;

				&:hover {
					background: #222;
					color: $color-yellow;
					border-bottom-color: $color-yellow;
				}
			}
		}
	}

	.logo {
		top: 0;
		left: 50%;
		z-index: 999;
		width: 188px;
		height: 188px;
		margin-left: -94px;
		position: absolute;
		@include border-radius(50%);
		background: #191919 url("../img/logo.png") 50% 50% no-repeat;
	}

	.contact {
		float: right;
		width: 195px;
		height: 95px;
		padding-top: 20px;
		text-align: right;

		a {
			color: #fff;
			text-decoration: none;
		}

		.phone {
			font-size: 20px;
			font-weight: 300;
			line-height: 24px;
			padding-left: 30px;
			margin-bottom: 5px;
			display: inline-block;
			background: url("../img/icon-phone.png") 0 50% no-repeat;
		}

		.email {
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			padding-left: 30px;
			display: inline-block;
			background: url("../img/icon-mail.png") 0 50% no-repeat;

			&:hover {
				color: $color-yellow;
			}
		}
	}

	.callback-block {
		top: 100%;
		right: 38px;
		height: 42px;
		width: 350px;
		position: absolute;

		span {
			color: #fff;
			width: 150px;
			float: right;
			display: block;
			font-size: 10px;
			padding: 3px 7px;
			line-height: 12px;
			text-align: right;
			text-transform: uppercase;
		}

		.btn-callback {
			margin:0;
			float: right;
			border: none;
			outline: none;
			cursor: pointer;
			font-size: 13px;
			font-weight: 700;
			line-height: 20px;
			text-align: center;
			position: relative;
			padding: 11px 25px;
			background: #191919;
			color: $color-yellow;
			display: inline-block;
			text-decoration: none;
			vertical-align: middle;
			background-image: none;
			text-transform: uppercase;
			touch-action: manipulation;
			@include transition(.2s);

			&:hover {
				background: #222;
				color: $color-yellow;
				text-decoration: none;
			}

			&:active {
				top: 1px;
			}
		}
	}
}


.preloader-inner {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: fixed;
	background: #1c1c1c  url("../img/preloader.png") 50% 50% no-repeat;;

	.wrap {
		width: 100%;
		height: 100%;
		position: relative;
	}
}


.preloader {
	top: 50%;
	left: 50%;
	font-size: 10px;
	position: relative;
	margin-top: -150px;
	margin-left: -150px;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ded072;
	-webkit-animation: load8 1.6s infinite linear;
	animation: load8 1.6s infinite linear;
}
.preloader,
.preloader:after {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
